[Unit]
Description=OpenIPC WFB-ng TX profile
After=network-online.target openipc-video-tx.service
Wants=network-online.target openipc-video-tx.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/openipc-fpv/tx/start-wfb-tx.sh
ExecStop=/bin/systemctl stop wifibroadcast@drone.service

[Install]
WantedBy=multi-user.target
