[Unit]
Description=OpenIPC WFB-ng TX profile
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/openipc-fpv/tx/start-wfb-tx.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
